form {
    line-height: 200%;
}

form button {
    margin: 10px 0;
    width: 100%;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
}

input[type=checkbox]~label {
    line-height: 20px;
    vertical-align: text-bottom;
}

#customTimeGroup {
    display: none;
}